<img src="/assets/images/main_page/cover.png" alt="">
<div class="button_box width_90">
    <div class="button width_22">
        <a href="#wedding-flow">
            <img src="/assets/images/main_page/button1.png" alt="">
        </a>
    </div>
    <div class="button width_22">
        <a href="#map-info">
            <img src="/assets/images/main_page/button2.png" alt="">
        </a>
    </div>
    <div class="button width_22">
        <a href="#notice">
            <img src="/assets/images/main_page/button3.png" alt="">
        </a>
    </div>
    <div class="button width_22">
        <a href="#meal">
            <img src="/assets/images/main_page/button4.png" alt="">
        </a>
    </div>
</div>