<div id="map-info" class="page">
    <img src="/assets/images/map-info/map.png" alt="">
    <div class="info_box">
        <img src="/assets/images/map-info/car_title.png" alt="">
        <img class="car_content" src="/assets/images/map-info/car_content.png" alt="">
        <img src="" alt="">
        <img src="/assets/images/map-info/bus_title.png" alt="">
        <img src="/assets/images/map-info/bus_content.png" alt="">
        <img src="" alt="">
        <img src="/assets/images/map-info/bike_title.png" alt="">
        <img src="/assets/images/map-info/bike_content.png" alt="">
    </div>
</div>